<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<link rel="stylesheet" href="../static/css/style.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<body class="registration">
<form>
    <div class="container">
        <div class="container regform">

            <div class="container rform">
                <br>
                <b>Registration form</b>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control name" placeholder="First Name" name="name"
                       aria-describedby="basic-addon1" id="name" required>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control infield" placeholder="Second Name" name="sname"
                       aria-describedby="basic-addon1" id="sname" required>
            </div>
            <div class="input-group mb-3">
                <input type="date" class="form-control infield" name="birthday"
                       aria-describedby="basic-addon1" id="birthday" required>
            </div>
            <div class="input-group mb-3">
                <input type="text" class="form-control infield" placeholder="E-mail" name="email"
                       aria-describedby="basic-addon1" id="email"
                       data-toggle="email" data-placement="right" data-html="true"
                       title="Example: abc@example.com"
                       pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                       required>
            </div>
            <div class="input-group mb-3">

                <input type="password" class="form-control infield" placeholder="Password" name="password"
                       data-toggle="tooltip" data-placement="right" data-html="true"
                       title="Password should be next:<br>
                                - Contain at least 8 characters<br>
                                - Contain at least 1 number<br>
                                - Contain at least 1 lowercase character (a-z)<br>
                                - Contain at least 1 uppercase character (A-Z)<br>
                                - Contains only 0-9 a-z A-Z
                               "
                       aria-describedby="basic-addon1" id="password"
                       pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/" required>

            </div>
            <div class="input-group mb-3">

                <input type="password" class="form-control infield" placeholder="Confirm Passowrd" name="cpassword"
                       aria-describedby="basic-addon1" id="cpassword"
                       pattern="/^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])[0-9a-zA-Z]{8,}$/">

            </div>
            <div class="input-group mb-3">
                <a class="btn btn-outline-primary register" onclick="register()">Register</a>
            </div>
            <div class="container rlink">
                Already have an account? <a href="/login"> Sign In!</a>
            </div>
            <div>
                <br>
            </div>
        </div>
    </div>
</form>
</body>
<script>

    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
        $('[data-toggle="email"]').tooltip();
    });

    function register() {
        var data = {
            'name': document.getElementById('name').value,
            'sname': document.getElementById('sname').value,
            'bdate': document.getElementById('birthday').value,
            'email': document.getElementById('email').value,
            'password': document.getElementById('password').value,
            'cpassword': document.getElementById('cpassword').value
        };

        $.ajax({
            url: "/register",
            method: "POST",
            contentType: "application/json",
            data: JSON.stringify(data),
            success: function (data) {
                if (data.redirect) {
                    window.location.href = data.redirect;
                } else {
                    alert(data);
                }
            }
        })
    }
</script>
</html>
