<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test info</title>
</head>
<link rel="stylesheet" href="../static/css/profile.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>
<body>

<div class="row">
    <div class="col-3">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <img src="../static/img/logo.svg" class="img">
            <span><hr></span>

            <a class="nav-link " id="profile-prof" href="#profile-prof" role="tab"
               aria-controls="profile-prof" aria-selected="true">Personal info</a>

            <a class="nav-link" id="profile-prof" href="/add_test" role="tab"
               aria-controls="profile-prof" aria-selected="true">Add a test</a>


            <a class="nav-link active" id="tests" href="/tests_professor" role="tab" aria-controls="tests"
               aria-selected="false">Applicants</a>

            <div class="kostyl">

            </div>
        </div>
    </div>
    <div class="col-9">
        <div class="container header">
            <a class="btn btn-outline-primary logout" href="/login">Log out</a>
        </div>
        <table class="table table-stripped">
            <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Surname</th>
                <th scope="col">Citizen</th>
                <th scope="col">E-mail</th>
                <th scope="col">Test Score</th>
                <th scope="col">Portfolio</th>
            </tr>
            </thead>
            <tbody>
            {% for row in data %}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ row['name'] }}</td>
                    <td>{{ row['surname'] }}</td>
                    <td>{{ row['citizen'] }}</td>
                    <td class="uname">{{ row['email'] }}</td>
                    <td>{{ row['test_result'] }}</td>
                    <td>
                        <button type="button" class="btn btn-primary submit">View</button>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
<script>

    (function ($) {
        $(document).ready(function () {
            $('.submit').click(function (e) {
                e.preventDefault();
                var tr = $(this).closest('tr');
                console.log(tr);
                var uname = tr.find($('.uname'))['0'].innerText;
                var data = {
                    'username': uname
                };

                $.ajax({
                    url: "/retrieve_portfolio",
                    method: "POST",
                    contentType: 'application/json',
                    data: JSON.stringify(data),
                    success: function (data) {
                        console.log(data);
                        var dataURI = data['resp']['attachment'];
                        var byteString = atob(dataURI.split(',')[1]);

                        // separate out the mime component
                        var mimeString = dataURI.split(',')[0].split(':')[1].split(';')[0];

                        // write the bytes of the string to an ArrayBuffer
                        var ab = new ArrayBuffer(byteString.length);
                        var ia = new Uint8Array(ab);
                        for (var i = 0; i < byteString.length; i++) {
                            ia[i] = byteString.charCodeAt(i);
                        }

                        // write the ArrayBuffer to a blob, and you're done
                        var blob = new Blob([ab], {type: 'application/pdf'});
                        // IE doesn't allow using a blob object directly as link href
                        // instead it is necessary to use msSaveOrOpenBlob
                        var filesaver = saveAs(blob, data['username']+".pdf");
                        console.log(filesaver)

                    }
                })
            })

        })
    }(jQuery));

</script>
</html>

